body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://v3.fal.media/files/zebra/-bclxTDOGzhfYZxCNWgn4_output.png");
  padding: 20px;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  color: #7cc9ff;

  background: rgba(255, 255, 255, 0.65);
  padding: 15px 30px;
  border-radius: 25px;

  display: inline-block;
  margin: 20px auto;
  backdrop-filter: blur(5px);

  text-shadow: 3px 3px 0 #ffffff,
               6px 6px 12px rgba(145, 200, 255, 0.7);

  border: 3px solid #cceaff;
  box-shadow: 0 6px 10px rgba(164, 216, 255, 0.6);
}



form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  margin-bottom: 20px;
}

textarea {
  height: 120px;
}

button {
  background: #8ab7ff;
  color: white;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: 0.2s ease;
}

button:hover {
  background: #5d5aa1;
  transform: scale(1.05);
}

.articulo {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #c7e3ff;
  border: 3px dashed #9dc9ff; 
}

.hoja-libreta {
  background:#becfeb;
  border-radius: 12px;
  padding: 20px;
  border: 2px solid #d1deff;
  position: relative;
  box-shadow: 0 0 15px rgba(255, 153, 194, 0.25);
  background-image:
    linear-gradient(#c1d5e8 1px, transparent 1px),
    linear-gradient(90deg, #9ab4e3 1px, transparent 1px);
  background-size: 100% 28px, 28px 100%;
}

.comentarios {
  margin-top: 10px;
}

.comentario {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.avatar {
  width: 40px;
  height: 40px;
  background: #b3beff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.texto-com {
  max-width: 85%;
}

.no-com {
  color: #37456e;
}

.formComentario {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.formComentario input {
  flex: 1;
  padding: 5px;
}

