body {
  font-family: Arial, Helvetica, sans-serif;
   background-image: url("https://marketplace.canva.com/EAGjTPSVmjU/1/0/900w/canva-pink-watercolor-playful-floral-abstract-ribbon-bows-girly-phone-wallpaper-Al4eXCEBWQE.jpg")
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  margin-bottom: 20px;
}

textarea {
  height: 120px;
}

button {
  background: #ff8ac9;
  color: white;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: 0.2s ease;
}

button:hover {
  background: #ff63b2;
  transform: scale(1.05);
}


.articulo {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ffc7e1;
  border: 3px dashed #ff9dc9; 
}


.comentarios {
  margin-top: 10px;
}

.comentario {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.avatar {
  width: 40px;
  height: 40px;
  background: #ffb3d9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.texto-com {
  max-width: 85%;
}


.no-com {
  color: #74f2dd;
}

.formComentario {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.formComentario input {
  flex: 1;
  padding: 5px;
}
